<h2>Create a new Article!</h2>

<form method="POST" action="/articles/">
  <label for="articleTitle">Title</label>
  <input type="text" name="articleTitle" />

  <label for="articleBody">Body</label>
  <input type="text" name="articleBody" />

  <input type="submit" value="Create my Article">
</form>

